:root {
  --primary-color: #06538c;
  --secondary-color: #aaaaaa;
  --gradient: linear-gradient(to bottom, #06538c, #598db2);
}
body {
  margin: 0;
}
a,
p,
h1,
h2,
h3,
h4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*left-side-bar*/
#left-side-bar {
  width: 245px;
  position: fixed;
  left: 0px;
  top: 0px;
  height: -webkit-fill-available;
}
#left-side-bar .main-logo {
  width: 100%;
  height: 94px;
}
#left-side-bar .light-logo {
  width: 100%;
  height: 94px;
  display: none;
}
#left-side-bar .bar-content {
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  border-left: #f1f1f1 3px solid;
}
#left-side-bar .bar-content .welcome {
  color: var(--secondary-color);
  font-size: 12px;
  margin: 0;
  padding: 34px 0 18px 44px;
}
#left-side-bar .bar-content .bar-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 46px;
  padding-left: 44px;
  margin-left: -3px;
}
#left-side-bar .bar-content .bar-button svg path {
  fill: var(--secondary-color);
}
#left-side-bar .bar-content .bar-button p {
  margin: 0 0 0 15px;
  font-size: 12px;
  font-weight: 400;
  color: #6a707e;
}
.selected {
  background-color: #e6edf3;
  border-left: 3px solid var(--primary-color);
}
.bar-button:hover {
  background-color: #e9f2fa;
  border-left: 3px solid #83929e;
}
.selected:hover {
  background-color: #e6edf3;
  border-color: var(--primary-color);
}
.selected svg path {
  fill: var(--primary-color) !important;
}
.selected p {
  color: var(--primary-color) !important;
}
.log-out {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  padding: 29px 0 29px 44px;
  border-top: 1px solid #e5e7e8;
}
.log-out:hover {
  cursor: pointer;
}

.log-out p {
  margin: 0 0 0 15px;
  font-size: 12px;
  color: #6a707e;
}

@media (max-width: 800px) {
  #left-side-bar {
    width: 90px;
  }
  #left-side-bar .main-logo {
    display: none;
  }
  #left-side-bar .light-logo {
    display: block;
    height: 75px;
  }
  #left-side-bar .bar-content .welcome {
    font-size: 10px;
    margin: 0;
    padding: 34px 0 18px 10px;
  }
  #left-side-bar .bar-content .bar-button {
    padding-left: 0px;
    justify-content: center;
  }
  #left-side-bar .bar-content .bar-button p {
    display: none;
  }
  .log-out {
    padding: 29px 0 29px 10px;
  }
}

/*top-view*/
.top-view-hoder {
  position: fixed;
  top: 0px;
  right: 0px;
  width: calc(100% - 245px);
  height: -webkit-fill-available;
}
.page-name {
  background-color: #e6edf3;
  padding: 14px 0 14px 16px;
}
.page-name p {
  margin: 0 0 0 0px;
  font-size: 18px;
  color: var(--primary-color);
}
.top-view {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
}
.view-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.incident-count-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-image: var(--gradient);
  height: 102px;
  width: 330px;
  border: 1px solid transparent;
  border-radius: 14px;
  padding-left: 20px;
  margin: 10px 12px;
}
.incident-count-card img {
  width: 40px;
}
.info-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
  padding-bottom: 10px;
}
.info-column .number {
  margin: 0;
  font-size: 35px;
  color: white;
}
.info-column .type {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  color: white;
}
@media (max-width: 1373px) {
  .incident-count-card {
    width: 300px;
    padding-left: 18px;
    margin: 10px 8px;
  }
}
@media (max-width: 1253px) {
  .incident-count-card {
    width: 250px;
    padding-left: 8px;
    margin: 10px 8px;
  }
  .incident-count-card img {
    width: 30px;
  }
  .info-column .number {
    font-size: 28px;
  }
  .info-column .type {
    font-size: 15px;
  }
}
@media (max-width: 1073px) {
  .incident-count-card {
    width: 200px;
    padding-left: 8px;
    margin: 10px 6px;
  }
  .info-column .type {
    font-size: 13px;
  }
}
@media (max-width: 911px) {
  .incident-count-card {
    width: 150px;
    padding-left: 8px;
    margin: 10px 6px;
  }
  .info-column .number {
    font-size: 20px;
  }
  .info-column .type {
    font-size: 11px;
  }
}
@media (max-width: 800px) {
  .top-view-hoder {
    width: calc(100% - 90px);
  }
  .incident-count-card {
    width: 200px;
    padding-left: 8px;
    margin: 10px 6px;
  }
  .info-column .number {
    font-size: 28px;
  }
  .info-column .type {
    font-size: 13px;
  }
}
@media (max-width: 340px) {
  .incident-count-card {
    width: 150px;
    padding-left: 8px;
    margin: 10px 6px;
  }
  .info-column .number {
    font-size: 20px;
  }
  .info-column .type {
    font-size: 11px;
  }
}
